<!DOCTYPE HTML>
<html>

<%- include('head.ejs') -%>

<body>

	<div class="gtco-loader"></div>

	<div id="page">

		<!-- isso me lembra blade do laravel -->
		
		<%- include('header-menu.ejs') -%>

        <% if (typeof isHome ==='boolean' && isHome) { %>
		    <%- include('header-index.ejs') -%>
        <% } else { %>		
            <%- include('header.ejs') -%>    
        <% } %>

		
